body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.collapsing-margin{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.collapsing-margin .block {
    width: fit-content;
    background-color: aqua;
    margin-bottom: 20px;
}
.collapsing-margin .block2 {
    width: fit-content;
    background-color: #8d7bf7;
    margin-top: 20px;
}

.br {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px; 
}
.br .block {
    width: fit-content;
    background-color: bisque;
    margin-bottom: 20px;
}

.br .block2 {
    width: fit-content;
    background-color: rgb(214, 162, 99);
    margin-top: 20px;
}

.inline {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px; 
}
.inline .block {
    width: fit-content;
    background-color:  aquamarine ;
    margin-bottom: 20px;
    display: inline-flex;
}
.inline .block2 {
    width: fit-content;
    background-color: rgb(60, 150, 120);
    margin-top: 20px; 
}